In [1]:
import requests
import pandas as pd
import numpy as np
import os
import json
from requests_oauthlib import OAuth1Session
import pandas as pd
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
from pathlib import Path
import tweepy as tw
load_dotenv()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\jakek\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
consumer_key=os.environ.get("TWITTER_API_KEY")
consumer_secret=os.environ.get("TWITTER_SECERET_API_KEY")
access_token=os.environ.get("ACCESS_TOKEN")
access_token_secret=os.environ.get("ACCESS_TOKEN_SECRET")
bearer_token =os.environ.get("TWITTER_BEARER_TOKEN")

In [3]:
import requests

client = tw.Client( bearer_token, 
                        consumer_key, 
                        consumer_secret, 
                        access_token, 
                        access_token_secret, 
                        return_type = requests.Response,
                        wait_on_rate_limit=True)

In [4]:
# Define query
query = 'from:zerohedge -is:retweet'

# get max. 10 tweets
tweets = client.search_recent_tweets(query=query, 
                                    tweet_fields=['author_id', 'created_at'],
                                     max_results=100)

Unauthorized: 401 Unauthorized

In [ ]:
# Save data as dictionary
tweets_dict = tweets.json() 

# Extract "data" value from dictionary
tweets_data = tweets_dict['data'] 

# Transform to pandas Dataframe
df_1 = pd.json_normalize(tweets_data)

In [ ]:
#twitter API only limited to 7 days of feeds
df_1

,text,created_at,id,author_id
0,"Morgan Stanley - ""we continue to believe that ...",2022-03-13T20:49:12.000Z,1503110952228696069,18856867
1,Russia Seeking China's Military Help In Ukrain...,2022-03-13T20:47:14.000Z,1503110460685656068,18856867
2,Russia's upcoming external bond payments https...,2022-03-13T20:23:49.000Z,1503104566501457921,18856867
3,Yuan Deposits Soar At Russian Banks After SWIF...,2022-03-13T20:15:15.000Z,1503102411430375430,18856867
4,Hedge Fund CIO: The Golden Era For Central Ban...,2022-03-13T19:51:14.000Z,1503096365672456200,18856867
...,...,...,...,...
95,math is hard https://t.co/fOZ2Ti5coB,2022-03-11T23:01:38.000Z,1502419507930963968,18856867
96,China's No. 2 Leader Li Keqiang Announces Plan...,2022-03-11T23:00:15.000Z,1502419156691566594,18856867
97,non-suicidal protective custody https://t.co/O...,2022-03-11T22:58:10.000Z,1502418635272433676,18856867
98,Yesterday Goldman said odds of a recession are...,2022-03-11T22:56:05.000Z,1502418107662577664,18856867
99,Wall Street Stunned By Zoltan Pozsar's Latest ...,2022-03-11T22:41:24.000Z,1502414415215345668,18856867

In [ ]:
#df.to_csv('tweets1.csv')

In [ ]:
#second tweet collection 
# Define query
query = 'from:InvestorsLive -is:retweet'

# get max. 10 tweets
tweets2 = client.search_recent_tweets(query=query, 
                                    tweet_fields=['author_id', 'created_at'],
                                     max_results=100)

In [ ]:
# Save data as dictionary
tweets_dict2 = tweets2.json() 

# Extract "data" value from dictionary
tweets_data2 = tweets_dict2['data'] 

# Transform to pandas Dataframe
df_2 = pd.json_normalize(tweets_data2) 

df_2

,created_at,id,text,author_id
0,2022-03-13T17:14:45.000Z,1503056986191147012,@greveamilon No.,15971805
1,2022-03-13T15:13:50.000Z,1503026556440133634,@Bullvsbear1 Did you still want me to re-tweet...,15971805
2,2022-03-13T15:00:44.000Z,1503023260274987010,"Get a FREE watch list, game plan, and video in...",15971805
3,2022-03-13T14:43:26.000Z,1503018904179859458,@mohzoheir @AvidityFitness DM @AvidityFitness ...,15971805
4,2022-03-13T14:42:44.000Z,1503018729252208640,Zoom Workouts\n\n6PM EST Tues and Thurs\n\n9:1...,15971805
...,...,...,...,...
95,2022-03-10T22:28:02.000Z,1502048660464578577,I try to share when I see what's going on live...,15971805
96,2022-03-10T21:34:28.000Z,1502035183784103937,Don't tell him 🤫 $AGRI\n\nAlmost home from pic...,15971805
97,2022-03-10T21:22:25.000Z,1502032148638875650,@boyermallocups Yes Disclaimer at bottom,15971805
98,2022-03-10T20:17:25.000Z,1502015793558605834,$1.20+ fade now $AGRI 👌 https://t.co/OTrMuYHsAf,15971805
99,2022-03-10T20:00:34.000Z,1502011549644464135,Don't step in front of the move! ⚠️ https://t....,15971805

In [ ]:
#df2.to_csv('tweets2.csv')

In [ ]:
#Third tweet collection 
# Define query
query = 'from:markflowchatter -is:retweet'

# get max tweets
tweets3 = client.search_recent_tweets(query=query, 
                                    tweet_fields=['author_id', 'created_at'],
                                     max_results=100)

In [ ]:
# Save data as dictionary
tweets_dict3 = tweets3.json() 

# Extract "data" value from dictionary
tweets_data3 = tweets_dict3['data'] 

# Transform to pandas Dataframe
df_3 = pd.json_normalize(tweets_data3)

In [ ]:
#df3.to_csv('tweets3.csv')

In [ ]:
#fourth tweet collection 
# Define query
query = 'from:OptionsHawk -is:retweet'

# get max. 10 tweets
tweets4 = client.search_recent_tweets(query=query, 
                                    tweet_fields=['author_id', 'created_at'],
                                     max_results=100)

In [ ]:
# Save data as dictionary
tweets_dict4 = tweets4.json() 

# Extract "data" value from dictionary
tweets_data4 = tweets_dict4['data'] 

# Transform to pandas Dataframe
df_4 = pd.json_normalize(tweets_data4) 

df_4

,created_at,text,id,author_id
0,2022-03-13T19:10:13.000Z,Their zero COVID policy probably going to now ...,1503086043913928716,61342056
1,2022-03-13T18:39:35.000Z,"Just came upon 22 deer together, think that’s ...",1503078335332732929,61342056
2,2022-03-13T17:22:11.000Z,@LavishBic I enjoy having no limitations and h...,1503058856150192132,61342056
3,2022-03-13T17:09:35.000Z,Like #2…and something I need to stop doing htt...,1503055683553484806,61342056
4,2022-03-13T13:28:10.000Z,Woke up with a nice 25-bagger return https://t...,1502999962283651074,61342056
...,...,...,...,...
95,2022-03-09T17:14:08.000Z,"$ABBV highs, tight bull flag forming for what ...",1501607278629335040,61342056
96,2022-03-09T17:12:46.000Z,Long Watson straddles for the Vol. https://t.c...,1501606935128334343,61342056
97,2022-03-09T17:10:16.000Z,@CapitalEdgeNY Makes sense if wants to compete,1501606307148750850,61342056
98,2022-03-09T17:05:01.000Z,If true..think SEA took the wrong deal https:/...,1501604983371976709,61342056
99,2022-03-09T16:58:10.000Z,$AMR short Aug 110 calls adjusting to the 140 ...,1501603262591553536,61342056

In [ ]:
df_total = pd.concat([df_1,df_2,df_3,df_4])

In [ ]:
#Dataframe of all tweets with "$"
df_scrub = df_total[df_total['text'].str.contains("$", regex=False)]
df_scrub

,text,created_at,id,author_id
20,"""in June of last year the S&amp;P was trading ...",2022-03-13T17:31:49.000Z,1503061280252440576,18856867
43,"After losing 39% in 2021, 15% in January, and ...",2022-03-13T02:16:24.000Z,1502830908814106624,18856867
64,Cohen’s Point72 to Redeem $750 Million From He...,2022-03-12T16:57:32.000Z,1502690263306846215,18856867
17,"@RedRockTrader1 Yes, I missed the short after ...",2022-03-12T03:04:33.000Z,1502480636879253508,15971805
19,Sometimes you just have to ask for the VWAP sq...,2022-03-12T00:33:56.000Z,1502442735705497613,15971805
...,...,...,...,...
86,$CCJ Notable Options Flow in Open Interest (So...,2022-03-09T20:25:04.000Z,1501655327787343888,61342056
87,Getting it! $CCJ https://t.co/NiqQcA0bAW,2022-03-09T20:19:43.000Z,1501653980874788878,61342056
91,"$SPY\n\nWhy 414/415 was so important, last lin...",2022-03-09T18:30:30.000Z,1501626497588768768,61342056
95,"$ABBV highs, tight bull flag forming for what ...",2022-03-09T17:14:08.000Z,1501607278629335040,61342056
99,$AMR short Aug 110 calls adjusting to the 140 ...,2022-03-09T16:58:10.000Z,1501603262591553536,61342056

In [ ]:
#Sentiment scores
tw_sentiments = []

for text in df_scrub["text"]:
    try:

        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        tw_sentiments.append({
            "text": text,
            "compound": compound,
            "positive": pos,
            "neutral": neu,
            "negative": neg
            
        })

    except AttributeError:
        pass

In [ ]:
tw_df = pd.DataFrame(tw_sentiments)

In [ ]:
cols = ["text", "compound", "positive", "neutral", "negative"]
tw_df = tw_df[cols]
tw_df = tw_df.sort_values('compound', ascending = False)
tw_df

,text,compound,positive,neutral,negative
75,$CMG notable early strength above its 8-MA\n\n...,0.8126,0.261,0.739,0.000
16,$HYMC .50/share ago and 280 million shares tra...,0.8107,0.237,0.763,0.000
32,$GFAI just so you know SSR is on -- so they ha...,0.7506,0.144,0.817,0.039
58,$GTLS a Hydrogen focused Energy play with a bi...,0.7269,0.542,0.458,0.000
51,Pharma Bro's been a nice area of strength $BMY...,0.7184,0.353,0.647,0.000
...,...,...,...,...,...
76,$NVDA weak down 3.5% under yesterday low after...,-0.6124,0.000,0.706,0.294
0,"""in June of last year the S&amp;P was trading ...",-0.6486,0.000,0.901,0.099
26,$GFAI speaking of the devil 😈\n\nNice warning ...,-0.7650,0.093,0.596,0.311
74,$OLLI large Apr. put spread bought\n\nLatest c...,-0.8055,0.000,0.752,0.248
18,I am short $HYMC because of the $2.50 exhausti...,-0.8922,0.000,0.733,0.267

In [ ]:
# Top 5 tickers with highest compound sentiment analysis 
## ISPO, HYMC, CMG, GFAI and DATS

In [ ]:
# Top 5 tickers with lowest compound sentiment analysis 
## NVDA , GFAI , CMG, OLLI  and S&P